<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        <div>
            <h1>{{ item_object.name }}</h1>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'todo_list_update' item_object.id %}"> Edit</a>
                <a href="{% url 'todo_list_delete' item_object.id %}"> Delete</a>
                <a href="{% url 'todo_item_update' item_object.id %}">Update a new item</a>
            </p>
        </div>
        <table>
            <thead>
                <tr>
                    <td>Task</td>
                    <td> Due date</td>
                </tr>
            </thead>
            <tbody>
                {% for task in item_object.items.all %}
                <tr>
                    <td>{{ task.task }}</td>
                    <td>{{ task.due_date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>
